<!-- your html code here -->
<div class="container mt-5">
    <div class="row" style="background-color: white;">
        <div class="col-md-6">
            <div class="header-content-left">
                <h1>This First Heading Will Catch Your Eye</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi molestias qui fuga tenetur consequatur, voluptate accusantium expedita nulla. Ut repellendus unde atque non eos sint, iure voluptate. Ad, maxime obcaecati.</p> 
           </div> 
        </div>
        <div class="col-md-6">
            <div class="header-content-right">
                <img src="./assets/img/1.jpg" class="rounded-circle" style="width:60%;">
            </div>
        </div>
    </div>