<!-- your html code here -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="header-content-left">
                <img src="./assets/img/2.jpg" class="rounded-circle" style="width:60%;">
                
           </div> 
        </div>
        <div class="col-md-6">
            <div class="header-content-right">
                <h1>The Second Heading is Pretty Cool Too</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis inventore iste rerum qui dolorem quidem rem aut! Eveniet, dicta ratione quasi ea cupiditate cumque est amet quam veniam perspiciatis corrupti?</p> 
                
            </div>
        </div>
    </div>
</div>